/build/
/dist/
Thumbs.db
/javadoc/
/.jacocoverage/
/build
/target/
/out/
/**/.sonar/
**.jacocoverage/
**/*.iml
*.iml
**/*.tloh
**/*.tlog
**/*.db
**/*.project
**/*.factorypath
**/*.classpath
.idea
.idea/
**/.idea/
**/.idea
!**/.idea
/.idea/libraries/
ActivityMasterClient.rar
/ClientsBase/UWE.rar
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/saveactions_settings.xml
/.idea/vcs.xml
*.log
/logs/
/cerial/
/.vscode/settings.json
